body {
	text-align:center;
	background-image:url('http://subtlepatterns.subtlepatterns.netdna-cdn.com/patterns/navy_blue.png');
	margin-top:5px;
	font-family:arial;
	letter-spacing:2px;
	font-weight:bold;
	color:white;
	text-transform:uppercase;
}

#nav-bar {
	position:fixed;
	bottom:1px;
	margin:0 auto;
	display:inline-block;
	right:0;
	left:0;
	background-image:url('bar.png');
	width:470px;
	height:70px;
}

.slide {
	margin: 0 auto;
	width: 99%;
	padding: 4rem 0;
	height: 35rem;
	line-height:35rem;
	text-align:center;
}

.title {
	line-height:1em;
	clear:both;
	margin:15px 0px;
}

.logo {
	background-image:url('banner.png');
	display:inline-block;
	vertical-align:middle;
	width:600px;
	height:300px;
}

.who-we-are {
	width:60rem;
	line-height:1.2em;
	color:white;
	vertical-align:middle;
	display:inline-block;
}

#people-grid {
	display:inline-block;
	width:48rem;
}

#project-grid {
	display:inline-block;
	width:60rem;
}

.project {
	width:12rem;
	padding:1rem;
	margin:0.5rem;
	line-height:1em;
	height:7.5rem;
	background-color:gray;
	float:left;
	display:inline-block;
	overflow:hidden;
	vertical-align:middle;
}

.person {
	width:7rem;
	margin:0.5rem;
	float:left;
	display:inline-block;
	overflow:hidden;
	vertical-align:middle;
}

.get-involved {
	line-height:1em;
	margin-top:50px;
}